<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ChemQuiz</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active current"><a routerLink="/dashboard">Dashboard</a></li>
      <li routerLinkActive="active current"><a routerLink="/quiz">Quiz</a></li>
      <li routerLinkActive="active current"><a routerLink="/periodictable">Periodic Table</a></li>
      <li routerLinkActive="active current"><a routerLink="/dashboard">Compounds</a></li>
      <li routerLinkActive="active current"><a routerLink="/dashboard">Profile</a></li>
      <li routerLinkActive="active current"><a routerLink="/dashboard">Log Out</a></li>
    </ul>
  </div>
</nav>
