<div class="container">

  <div class="col-sm-6 col-sm-offset-3">
  
      <h1><span class="fa fa-sign-in"></span> Login</h1>
  
  
      <!-- LOGIN FORM -->
      <div [ngStyle]="{'display':LoginDisplay}">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="email" #ctrl="ngModel" required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="password" #ctrl="ngModel" required>
        </div>
    
            <button type="submit" class="btn btn-warning btn-lg" (click)="submit(email,password)">Login</button>
      </div>  
      <hr>
  
      <!-- <div [ngStyle]="{'display':display}">
        <h3> Login success {{name}}</h3>
      </div>
      <p>Need an account? <a href="/register">Signup</a></p>
      <p>Or go <a href="/">home</a>.</p> -->
  
  </div>