<app-navbar></app-navbar>

<br/>
<div class="pb-2 mt-4 mb-2 border-bottom header">
    <h2>Periodic Table</h2>
</div>
<br/>
<div id="periodic_table">
    <div class="box1">
        <div>
            <div *ngFor="let item of periodicData[0]">
                <button class="btn btn-primary" (click)="showData(item)">{{item.symbol}}</button>
            </div>
            <div class="modal box" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">{{clickedElement.name}}</h3>
                            <button type="button" class="close" aria-label="Close" (click) = "hideModal()"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <!-- <p class="h4">Atomic Number: {{clickedElement.number}}</p> 
                            <p class="h4">Atomic Mass: {{clickedElement.atomic_mass}}</p>
                            <p class="h4">Period: {{clickedElement.period}}</p>
                            <p class="h4">Appearance: {{clickedElement.appearance}}</p>
                            <p class="h4">Summary: {{clickedElement.summary}}</p>
                            <p class="h4">Source: {{clickedElement.source}}</p> -->
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">{{clickedElement.symbol}}</h4>
                                    <p class="card-text">
                                        {{clickedElement.summary}}
                                    </p>
                                    <a href="{{clickedElement.source}}" class="btn btn-primary">{{clickedElement.name}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div *ngFor="let item of periodicData[1]">
                <button class="btn col1 btn-primary" (click)="showData(item)">{{item.symbol}}</button>
            </div>
        </div>
        <div>
            <div *ngFor="let item of periodicData[2]">
                <button class="btn col2 btn-primary" (click)="showData(item)">{{item.symbol}}</button>
            </div>
            <div>
                <button class="btn col2_1 btn-primary">-</button>
            </div>
            <div>
                <button class="btn col2_2 btn-primary">-</button>
            </div>
        </div>
        <div>
            <div *ngFor="let item of periodicData[3]">
                <button class="btn col2 btn-primary" (click)="showData(item)">{{item.symbol}}</button>
            </div>
        </div>
        <div>
            <div *ngFor="let item of periodicData[4]">
                <button class="btn col2 btn-primary" (click)="showData(item)">{{item.symbol}}</button>
            </div>
        </div>
        <div>
            <div *ngFor="let item of periodicData[5]">
                <button class="btn col2 btn-primary" (click)="showData(item)">{{item.symbol}}</button>
            </div>
        </div>
        <div>
            <div *ngFor="let item of periodicData[6]">
                <button class="btn col2 btn-primary" (click)="showData(item)">{{item.symbol}}</button>
            </div>
        </div>
        <div>
            <div *ngFor="let item of periodicData[7]">
                <button class="btn col2 btn-primary" (click)="showData(item)">{{item.symbol}}</button>
            </div>
        </div>
        <div>
            <div *ngFor="let item of periodicData[8]">
                <button class="btn col2 btn-primary" (click)="showData(item)">{{item.symbol}}</button>
            </div>
        </div>
        <div>
            <div *ngFor="let item of periodicData[9]">
                <button class="btn col2 btn-primary" (click)="showData(item)">{{item.symbol}}</button>
            </div>
        </div>
        <div>
            <div *ngFor="let item of periodicData[10]">
                <button class="btn col2 btn-primary" (click)="showData(item)">{{item.symbol}}</button>
            </div>
        </div>
        <div>
            <div *ngFor="let item of periodicData[11]">
                <button class="btn col2 btn-primary" (click)="showData(item)">{{item.symbol}}</button>
            </div>
        </div>
        <div>
            <div *ngFor="let item of periodicData[12]">
                <button class="btn col3 btn-primary" (click)="showData(item)">{{item.symbol}}</button>
            </div>
        </div>
        <div>
            <div *ngFor="let item of periodicData[13]">
                <button class="btn col3 btn-primary" (click)="showData(item)">{{item.symbol}}</button>
            </div>
        </div>
        <div>
            <div *ngFor="let item of periodicData[14]">
                <button class="btn col4 btn-primary" (click)="showData(item)">{{item.symbol}}</button>
            </div>
        </div>
        <div>
            <div *ngFor="let item of periodicData[15]">
                <button class="btn col4 btn-primary" (click)="showData(item)">{{item.symbol}}</button>
            </div>
        </div>
        <div>
            <div *ngFor="let item of periodicData[16]">
                <button class="btn col5 btn-primary" (click)="showData(item)">{{item.symbol}}</button>
            </div>
        </div>
        <div>
            <div *ngFor="let item of periodicData[17]">
                <button class="btn btn-primary" (click)="showData(item)">{{item.symbol}}</button>
            </div>
        </div>
    </div>
</div>